---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'kies.me — Die besten Webseiten für dich',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Erstgespräch vereinbaren',
        href: 'tel:+49123456789',
        target: '_blank',
        icon: 'tabler:calendar-event',
      },
      { text: 'Mehr erfahren', href: '#mehr' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      kieks.me <span class="hidden xl:inline">von Profies für Profies</span>
      <span class="text-accent dark:text-white highlight"> Software für den Mittelstand</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Zusammen</span> finden wir für Sie die passende Softwarelösung.
      </span>
      <span class="block mb-1 font-bold text-blue-600 sm:hidden">AstroWind: Production-ready.</span>
      Mit jahrelanger Erfahrung in der Softwareentwicklung und dem Umgang mit dem Mittelstand, helfen wir Ihnen, die passende
      Softwarelösung zu finden.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="mehr"
    tagline="Mehr über uns"
    title="Was wir für sie tun können"
    subtitle="kieks.me sind Experten für Softwareentwicklung und Beratung. Wir helfen Ihnen, die passende Softwarelösung für Ihr Unternehmen zu finden."
    items={[
      {
        title: 'Moderene Technologien',
        description:
          'Wir arbeiten mit den neuesten Technologien und Tools, um sicherzustellen, dass Ihre Softwarelösung auf dem neuesten Stand ist.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Weiterentwicklung',
        description:
          'Sie haben bereits eine Softwarelösung, die Sie nutzen. Wir helfen Ihnen, diese zu verbessern und zu erweitern.',
        icon: 'tabler:components',
      },
      {
        title: 'Anbindung von Systemen',
        description:
          'Sie haben verschiedene Systeme, die miteinander kommunizieren müssen. Wir helfen Ihnen, diese zu verbinden.',
        icon: 'tabler:api',
      },
      {
        title: 'Social Media',
        description: 'Sie möchten Ihre Social Media Kanäle verbessern. Wir helfen Ihnen, dies zu erreichen.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Suchmaschinenoptimierung (SEO)',
        description: 'Sie möchten, dass Ihre Webseite besser gefunden wird. Wir helfen Ihnen, dies zu erreichen.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Offen für ihre Ideen',
        description:
          'Wir sind neugierig, Ihre Ideen zu hören. Wir helfen Ihnen, diese in eine Softwarelösung umzusetzen.',
        icon: 'tabler:bulb',
      },
    ]}
  />
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Dinge die wir oft gefragt werden"
    subtitle="Kunden fragen, wir antworten. Hier sind einige der häufigsten Fragen, die wir erhalten."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Warum kieks.me und nicht eine andere Agentur?',
        description:
          'Die Frage ist berechtigt. Es gibt viele Mitbewerber in diesem Bereich. Offenheit, Ehrlichkeit und Transparenz sind unsere drei wichtigen Werte. Wir sind offen und ehrlich mit unseren Kunden und wir glauben, dass diese Werte unser Unternehmen auszeichnen.',
      },
      {
        title: 'Was brauchen wir für die Erstellung eines Websites?',
        description:
          'Wir benötigen von Ihnen Informationen über Ihr Unternehmen, Ihre Produkte und Dienstleistungen. Wir benötigen auch Informationen über Ihre Zielgruppe und Ihre Ziele. Mit diesen Informationen können wir eine Website erstellen, die zu Ihrem Unternehmen passt.',
      },
      {
        title: 'Wie lange dauert die Erstellung einer Website?',
        description:
          'Die Dauer der Erstellung einer Website hängt von verschiedenen Faktoren ab, wie z.B. der Größe der Website, den Anforderungen des Kunden und der Komplexität der Website. In der Regel dauert die Erstellung einer Website zwischen 4 und 8 Wochen.',
      },
      {
        title: 'Wie viel kostet die Erstellung einer Website?',
        description:
          'Die Kosten für die Erstellung einer Website variieren je nach Größe und Komplexität der Website. In der Regel kostet die Erstellung einer Website zwischen 1.000 und 10.000 Euro.',
      },
      {
        title: 'Wie kann ich die Website pflegen?',
        description:
          'Sie können die Website selbst pflegen oder wir können die Website für Sie pflegen. Wenn Sie die Website selbst pflegen möchten, können wir Ihnen eine Schulung geben, wie Sie die Website pflegen können. Wenn Sie möchten, dass wir die Website für Sie pflegen, können wir Ihnen ein Wartungspaket anbieten.',
      },
      {
        title: 'Was passiert, wenn ich mit der Website nicht zufrieden bin?',
        description:
          'Wir möchten, dass Sie mit der Website zufrieden sind. Wenn Sie mit der Website nicht zufrieden sind, werden wir alles tun, um sicherzustellen, dass Sie mit der Website zufrieden sind. Wir werden Änderungen an der Website vornehmen, bis Sie mit der Website zufrieden sind.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Webseiten', amount: '12' },
      { title: 'APIs', amount: '8' },
      { title: 'Kunden', amount: '6' },
      { title: 'Kunden unser Kunden', amount: '248K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Erstgespräch',
        href: 'tel:+49123456789',
        target: '_blank',
        icon: 'tabler:calendar-event',
      },
    ]}
  >
    <Fragment slot="title"> Jetzt kennenlernen </Fragment>

    <Fragment slot="subtitle">
      Qualität, Schnelligkeit und Zuverlässigkeit sind wichtige Werte, doch am wichtigsten ist, das wir uns gegenseitig
      respektieren und vertrauen können.
      <br class="hidden md:inline" />Lassen sie uns kennenlernen, ob wir zusammenpassen.
    </Fragment>
  </CallToAction>
</Layout>
